// Colors
$blueDark: #053782;
$blueLight: #1d88e0;
$blueMidnight: #11013b;
$red: #e54b4b;
$redDeep: #a21212;

// Monochromes
$black: #1c1d23;
$blackLight: #383838;
$greyDark: #757575;
$greyLight: #e0e0e0;
$greyLightest: #f5f5f5;
$greyMedium: #bdbdbd;
$white: #ffffff;

// Opacities
$black25: rgba($black, 0.25);
$black95: rgba($black, 0.95);
$greyDark25: rgba($greyDark, 0.25);
$greyLight50: rgba($greyLight, 0.5);
$red15: rgba($red, 0.15);

// Gradients
$gradientBlueDarkLight: linear-gradient(
  27deg,
  $blueDark 0%,
  $blueLight 100%
); // blueDark to blueLight

// Borders
$borderBlack: 1px solid $black;
$borderBlueLightThick: 0.4rem solid $blueLight;
$borderGreyDark: 1px solid $greyDark;
$borderGreyLight: 1px solid $greyLight;
$borderRedDeep: 1px solid $redDeep;

//Box Shadows
$deep: 3px 3px 3px 2px;
$inset: inset 0px 0px 10px;
$normal: 2px 1px 3px 2px;

$boxShadowGrey: $normal $greyLight50;
$boxShadowGreyDark: $normal $greyDark25;
$boxShadowGreyDarkDeep: $deep $greyDark25;
$boxShadowBlack: $normal $black25;
$boxShadowInset: $inset rgba($black, 0.1);
$boxShadowInsetDark: $inset rgba($black, 0.4);

// Focus states
$focusShadow: 0 0 5px rgba($blueLight, 0.6);
$focusShadowStrong: 0 0 5px $blueLight;
$focusShadowStrongAlternate: 0 0 5px $blueDark;
