@import '../../styles/colors.scss';

.icon {
  margin: 0 auto 0.5rem;
}

.logo {
  height: 7.5rem;
  padding-bottom: 1rem;
}

.menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 0.5rem;
  padding: 0;
  text-align: center;
}

.menuItem {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  margin: 0.5rem -0.5rem;
  padding: 1rem 0;

  &.active {
    background-color: $blueLight;
    box-shadow: $boxShadowInset;
    color: $black;
    font-weight: 700;
  }

  &:hover {
    background-color: $greyDark;
    box-shadow: $boxShadowInset;
    color: $white;
  }
}

.nav {
  border-top: $borderGreyDark;
  margin: 0 -1rem;
}

.sidebar {
  background-color: $black95;
  box-shadow: $boxShadowBlack;
  color: $white;
  grid-area: sidebar;
  padding: 1rem 2rem 2rem;
  z-index: 0;
}
