@import '../../styles/colors.scss';
@import '../../styles/typography.scss';

:global {
  * {
    margin: 0;
  }

  body {
    color: $blackLight;
    font-family: $baseFont;
    font-size: $normal;
  }

  h1 {
    font-family: $primaryHeaderFont;
    font-size: $xLargeFont;
  }

  h2 {
    font-family: $primaryHeaderFont;
    font-size: $largeFont;
  }

  h3 {
    font-family: $secondaryHeaderFont;
    font-size: $mediumLargeFont;
  }

  h4 {
    font-family: $secondaryHeaderFont;
    font-size: $mediumFont;
  }

  h5 {
    font-family: $secondaryHeaderFont;
    font-size: $mediumSmallFont;
  }

  input,
  select {
    font-family: $baseFont;
  }

  #uploader-root {
    height: 100vh;
    width: 100vw;
  }
}

.layout {
  display: grid;
  grid-template-areas:
    'sidebar header'
    'sidebar main';
  grid-template-columns: 12rem 1fr;
  grid-template-rows: 5rem 1fr;
  height: 100%;
  width: 100%;
}

.main {
  background-color: $greyLight;
  grid-area: main;
}
