@import '../../styles/colors.scss';

.button {
  align-self: flex-end;
}

.form {
  display: grid;
  grid-template-areas:
    'preview upperform upperform'
    'lowerform lowerform lowerform'
    'submit submit submit';
  grid-template-columns: 1fr repeat(2, 2fr);
  grid-template-rows: repeat(2, 1fr) 3rem;
  height: calc(100% - 4rem);
  padding: 2rem;
}

.input {
  border: none;
  border-radius: 3px;
  box-shadow: $boxShadowInset;
  margin-top: 0.5rem;
  padding: 0.2rem;
}

.label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.preview {
  align-items: center;
  background-color: $greyLightest;
  border-radius: 5px;
  box-shadow: $boxShadowInsetDark;
  color: $greyDark;
  display: flex;
  grid-area: preview;
  height: 100%;
  justify-content: center;
  margin: 0 2rem 1rem 0;
  padding: 0.5rem;
}

.submit {
  align-items: center;
  display: flex;
  grid-area: submit;
  justify-content: flex-end;
}

.upperform {
  grid-area: upperform;

  > label:not(:first-of-type) {
    margin: 1rem 0;
  }
}
