@import '../../styles/colors.scss';

.button {
  align-self: flex-end;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.input {
  border: none;
  border-radius: 3px;
  box-shadow: $boxShadowInset;
  padding: 0.2rem;
}

.label {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  margin: 0.5rem 0;
}
